h1 {
  color: crimson;
}

body {
  background: grey;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 70px 0;
  .navbar {
    color: white;
    background: crimson;
    height: 60px;
    left: 0;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
    .navbar-brand {
      color: inherit;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 28px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }
    .navbar-counter {
      height: 60px;
      float: right;
      line-height: 60px;
      padding-right: 10px;
      font-weight: 700;
    }
  }
  #container {
    border: 3px solid white;
    border-radius: 1em;
    margin: 10px;
    padding-top: 5px;
    height: -webkit-fill-available;
    background: white;
  }
  .message {
    display: flex;
    padding: 5px;
    .message-content {
      flex: 8;
    }
    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }
    .message-username {
      flex: 2;
      font-weight: 700;
    }
    .message-image {
      max-width: 60%;
    }
  }
  .system {
    font-style: italic;
    padding: 5px 20px;
  }
  .chatbar {
    background: grey;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
    .chatbar-message,
    .chatbar-username {
      border-radius: 5px;
      border: 1px solid white;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 10px;
    }
    .chatbar-message {
      flex: 8;
    }
    .chatbar-username {
      flex: 2;
    }
  }
}
